*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: url("images/ferns.jpg") no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 33% 2fr;
  width: 100%;
  font-size: 17px;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  color: #0A1E00;
}

::selection{
  background: rgba(255,255,0,.5);
}

h1,h2{
  margin-top: 1.8em;
  font-family: 'Raleway', sans-serif;
}

h1{
  font-size: 48px;
}
h2{
  font-size: 36px;
}
h3,h4{
  font-size: 17px;
}

img{
  max-width: 300px;
}

p{
  margin: 2em 0;
}
nav{
  position:fixed;
  width: 33%;
  height: 100vh;
  display: grid;
}

nav ul{
  align-self: start;
  justify-self: end;
  display: flex;
  justify-content: right;
  list-style: none;
}


.paper{
  padding: 30px;
  background: rgba(255,255,255,.9);
  outline: 2px solid rgba(0,30,10,.5);
  outline-offset: -15px;
  height: 90%;
  width: 90%;
  justify-self: center;
  align-self: center;
  display: grid;
  align-items: center;
  justify-items: center;
}

.paper h1{
  align-self: end;
}
.paper h3{
  font-weight: normal;
  align-self: start;
}

.paper .social-media{
  align-self: end;
  justify-self: end;
  width: 100%;
}

main{
  grid-column: 2;
  background: white;
  min-height: 100vh;
  padding: 3em;
}